.header {
    z-index: 990;
    position: relative;
    height: 100%;
    min-height: 600px;
    text-align: center;
    color: #fff;
    background-image: url(../imgs/header.jpg);
    background-size: cover;
    background-position: center;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: radial-gradient(140% 110% at 48% 42%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
      }

    .header-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .header-title {
            font-size: 50px;
            margin-top: 15px;
            margin-bottom: 10px;
            font-weight: bold;
          }

      }

  }